.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
